* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: poppins, sans-serif;
}

body {
  background-color: #f0f0f0;
}

h1 {
  text-align: center;
  font-size: 2.5rem;
}

header {
  background-color: #099d8d;
  color: white;
  padding: 52px;
}

.input-block {
  display: flex;
  justify-content: center;
  margin-top: 5%;
  gap: 10%;
}

.left-block {
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 250px;
  height: 378px;
  border-radius: 5%;
}

.right-block {
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  width: 400px;
  font-family: sans-serif;
}

.completed {
  text-decoration: line-through;
}

.input-left {
  padding-top: 15px;
  margin-top: 20px;
  width: 80%;
  height: 50px;
  margin-bottom: 20px;
  margin-left: 10%;
  border: #93a09f 1px solid;
  border-radius: 5%;
  border: #93a09f 1px solid;
  border-radius: 5%;
  font-size: 18px;
}

.left-block-btn {
  width: 80%;
  height: 50px;
  margin-left: 10%;
  font-size: 18px;
  color: white;
  background-color: #17c0af;
  border-radius: 5%;
  border: none;
}

.input-right {
  width: 475px;
  height: 50px;
  margin-bottom: 20px;

  border-radius: 5%;
  border: #93a09f 1px solid;
  border-radius: 5%;
  font-size: 18px;
}

.right-block-btn {
  width: 100px;
  height: 50px;
  font-size: 18px;
  color: white;
  background-color: #17c0af;
  border-radius: 5%;
  border: none;
}

.input-btn {
  display: flex;
  flex-direction: row;
}

li {
  display: flex;
  align-items: center;
  margin-top: 10px;
  padding: 10px;
  border: #93a09f 1px solid;
  border-radius: 5px;
}
.completed {
  text-decoration: line-through;
}
